<div class="container">
    <div class="row pt-5 justify-content-center text-center" *ngIf="orderdet">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table" >
                    <thead>
                      <tr class="text-center">
                        <th scope="col">Image</th>
                        <th scope ="col">Order Id</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider" *ngFor="let item of orderdet">
                      <tr>
                        <td><img src="https://cdn.iconscout.com/icon/free/png-512/free-order-management-market-store-cart-trolley-shopping-2-5273.png?f=webp&w=256" alt="productimage"></td>
                        <td>#{{item.id}}</td>
                        <td class="fs-6">{{item.amount}}</td>
                        <td class="fs-6">Processing</td>
                        <td class="fs-6"><button class="btn btn-sm btn-danger" (click)="cancelOrder(item.id)" >Cancel Order</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="row text-center justify-content-center pt-5 " *ngIf="!orderdet">
        <div class="col-md-12">
                <h1>Order Now !! to see Details</h1>
        </div>
    </div>
</div>