<div class="container mb-4">

 
      <ngb-carousel *ngIf="proudctsImage">
        <ng-template ngbSlide *ngFor="let item of proudctsImage" >
          <div class="picsum-img-wrapper">
            <img routerLink="/product/{{item.id}}" class="pop"
              src="{{item.productimage}}"
              alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>{{item.productname}}</h3>
            <p>{{item.productdescription}}</p>
          </div>
        </ng-template>
       
      </ngb-carousel>

      <!-- ----------------------------- Trendy product --------------------- -->
  
      <div class="row  mt-5 " *ngIf="productList">
        <h1 class="text-center"> Trendy Products </h1>

        <div class="col-md-3" *ngFor="let product of productList" routerLink="/product/{{product.id}}">

          <div class="card mt-3 shadow-effect">
            <img src="{{product.productimage}}" class="card-img-top" alt="product images">
        
            <div class="card-body border-top text-center">
              <h5 class="card-title ">{{product.productname}}</h5>
              <p class="card-text ">Price : {{product.productprice}}<br> Color : {{product.productcolor}}</p>
             
            </div>
          </div>

        </div>

      </div>

</div>